.App {
  text-align: center;
  max-width: 100vw;
  margin: 0 2vw;
}

.top-half {
  max-height : 45%;
  max-width: 100%;
  margin : 1vh 2vw;
  overflow : scroll;
}

.bottom-half {
  max-height : 40%;
  max-width: 100%;
  margin: 1vh 2vw;
  padding : 1em;
  border-radius : 10px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}